<h1>Edit Task</h1>

<%= form_for @task do |task|%>
<div class="form-group">
<%= task.label :title %>
<%= task.text_field :title %>
</div>
<div class="form-group">
<%= task.label :details %>
<%= task.text_field :details %>
</div>
<div class="form-group">
<%= task.label :completed %>
<%= task.check_box :completed %>
</div>
<%= task.submit class: 'btn btn-primary' %>
<% end %>
