<h1>Your Tasks</h1>
<%# <i class="far fa-square"></i> %>
<%# <i class="far far-check-square"></i> %>

<ul style="list-style: none;">
<% @tasks.each do |task| %>
<%= form_for task do |f|%>
<%= f.check_box :completed, onchange: "this.form.submit()", value: task.completed %>
<% end %>
<%= link_to task.title, task_path(task) %>
<%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Delete #{task.title}"} %>
</li>
<% end %>
</ul>

<p> <%= link_to "+ Add a new task", new_task_path %></p>
